.bottom {
  border-top: 1px solid #F6F5F4;
  padding-top: 40px;
  padding-bottom: 80px;
}

.bottom__container {
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 398px;
  padding-right: 98px;

  display: flex;
  justify-content: space-between;
}

.bottom__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.bottom__item {
  margin-right: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #9b9997;
  cursor: pointer;

  &:hover {
    color: #1d1613;
  }
}

.bottom__item--active {
  color: #1d1613;
  cursor: default;
}

.bottom__arrow {
  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
  cursor: pointer;

  &:hover {
    color: #9b9997;
  }
}

@media (max-width: 1023px) {
  .bottom__container {
    max-width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 767px) {
  .bottom {
    border: none;
    padding-top: 0;
    padding-bottom: 70px;
  }

  .bottom__container {
    justify-content: center;
  }

  .bottom__arrow {
    display: none;
  }
}
