.bottom {
  border-top: 1px solid #F6F5F4;
  padding-top: 38px;
  padding-bottom: 75px;
}

.bottom__container {
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 398px;
  padding-right: 98px;

  display: flex;
  justify-content: center;
}

.bottom__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  min-width: 11.04%;
  margin-left: 36.55%;
  margin-right: 40.35%;
}

.bottom__item {
  font-weight: 500;
  line-height: 21px;
  color: #9b9997;
  cursor: pointer;

  &:hover {
    color: #1d1613;
  }
}

.bottom__item--active {
  color: #1d1613;
  cursor: default;
}

.bottom__arrow {
  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
  cursor: pointer;

  &:hover {
    color: #9b9997;
  }
}

@media (max-width: 1023px) {
  .bottom {
    padding-top: 35px;
  }

  .bottom__container {
    max-width: 768px;
    padding-right: 45px;
    padding-left: 45px;
  }

  .bottom__list {
    min-width: 14.15%;
    margin-left: 32.74%;
    margin-right: 37.6%;
  }
}

@media (max-width: 767px) {
  .bottom {
    border: none;
    padding-top: 15px;
    padding-bottom: 66px;
  }

  .bottom__container {
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .bottom__list {
    margin-left: 0;
    margin-right: -23px;
    min-width: 100%;
    justify-content: center;
  }

  .bottom__item {
    margin-right: 23px;
  }

  .bottom__arrow {
    display: none;
  }
}
