.card {
  display: flex;
  max-width: 1366px;
  padding-left: 98px;
  padding-right: 10px;
  padding-top: 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card__photos {
  display: flex;
  width: 600px;
  margin-right: 7.95%;
}

.card__photos .card__first-col {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: -30px;
}

.card__img {
  margin-top: 30px;
  display: block;
}

.card__info {
  width: 29.41%;
}

.card__title {
  font-size: 34px;
  line-height: 34px;
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #1d1613;
}

.card__price {
  font-size: 26px;
  line-height: 34px;
  color: #1d1613;

  margin-bottom: 38px;
  display: block;
}

.card__caption {
  margin-bottom: 20px;
}

.card__description {
  color: #9b9997;
  line-height: 21px;
  font-weight: 500;
  margin-right: 31px;
}

.card__bold {
  color: #1d1613;
  line-height: 21px;
  font-weight: 500;
}

.card__table {
  width: 100%;
  margin-bottom: 51px;

  & tr {
    border-bottom: 1px solid #f6f5f4;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    display: flex;
    color: #1d1613;
    font-size: 14px;
    line-height: 18px;
  }
}

.card__second-col {
  margin-left: auto;
}

.card__first-col {
  font-weight: 500;
}

.card__add {
  display: block;
  width: 100%;

  background: #a87b62;
  border: 1px solid #a87b62;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-bottom: 18px;

  text-align: center;
  color: #ffffff;
  text-decoration: none;
  line-height: 21px;

  &:hover {
    background-color: transparent;
    color: #1d1613;
  }

  &:focus {
    opacity: 0.7;
  }
}

.card__bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -27px;
  margin-bottom: -10px;

  & span {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #9b9997;
    margin-bottom: 10px;
    margin-left: 27px;
  }
}

@media (max-width: 1023px) {
  .card {
    max-width: 768px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 29px;
  }

  .card__photos {
    flex-direction: column;
    width: 319px;
    margin-right: 5.9%;
  }

  .card__photos .card__first-col {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 7px;
  }

  .card__img {
    margin: 0;
  }

  .card__info {
    width: 319px;
  }

  .card__add {
    margin-bottom: 16px;
  }

  .card__bottom {
    margin-left: -24px;

    & span {
      margin-left: 24px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media (max-width: 767px) {
  .card {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
  }

  .card__photos {
    margin: 0;
    width: 100%;
    margin-bottom: 42px;
    position: relative;

    & .card__first-col {
      display: none;
    }

    &::after {
      content: "1 of 4";
      position: absolute;
      bottom: 10px;
      left: 126px;
      font-size: 14px;
    }
  }

  .card__price {
    margin-bottom: 28px;
  }

  .card__description {
    margin-right: 35px;
  }

  .card__info {
    width: 100%;
  }

  .card__table {
    margin-bottom: 42px;
  }

  .card__add {
    margin-bottom: 12px;
  }

  .card__bottom {
    margin-right: 0;
    margin-left: -50px;

    & span {
      text-align: center;
      margin-right: 0;
      margin-left: 50px;
      max-width: 58px;
    }
  }
}
