.faq {
  max-width: 1366px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 198px;
  padding-right: 198px;
  padding-bottom: 121px;
}

.faq__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0;
  margin-bottom: 50px;
}

.faq__question {
  display: none;
}

.nojs ~ .faq__question {
  display: block;
}

.faq input[id="1question"]:checked ~ .faq__question,
.faq input[id="2question"]:checked ~ .faq__question,
.faq input[id="3question"]:checked ~ .faq__question,
.faq input[id="4question"]:checked ~ .faq__question {
  display: block;
  margin: 0;
  margin-top: 7px;
  margin-left: 7px;
  max-width: 526px;
  line-height: 21px;
}

.faq__block {
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 42px;
  padding-right: 48px;
  border: 1px solid #a87b62;
  border-bottom: none;
}

.faq__block:last-child {
  border-bottom: 1px solid #a87b62;
}

.faq__title-question {
  display: block;
  position: relative;

  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #1d1613;

  cursor: pointer;

  &:hover {
    color: #9b9997;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/acc.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 10px;
    right: 0;
    top: 5px;
  }
}

.faq input[type="checkbox"]:checked ~ .faq__title-question::after {
  transform: rotate(180deg);
}

@media (max-width: 1023px) {
  .faq {
    max-width: 768px;

    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 74px;
  }

  .faq__title {
    margin-bottom: 48px;
  }

  .faq__block {
    padding-left: 50px;
    padding-bottom: 44px;
  }

  .faq__title-question::after {
    background-image: url("../img/acc-tab.svg");
    width: 23px;
    height: 19px;
    top: 5px;
  }

  .faq input[id="1question"]:checked ~ .faq__title-question::after {
    top: 0;
  }

  .faq input[id="1question"]:checked ~ .faq__question,
  .faq input[id="2question"]:checked ~ .faq__question,
  .faq input[id="3question"]:checked ~ .faq__question,
  .faq input[id="4question"]:checked ~ .faq__question {
    max-width: 527px;
    margin-top: 26px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .faq {
    max-width: 320px;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 63px;
  }

  .faq__block {
    padding: 25px;
    padding-top: 17px;
    padding-bottom: 19px;
  }

  .faq__title {
    margin-bottom: 28px;
  }

  .faq__title-question {
    font-size: 16px;
    line-height: 22px;

    &::after {
      top: 5px;
    }
  }

  .faq input[id="1question"] ~ .faq__title-question {
    width: 182px;

    &::after {
      right: -60px;
    }
  }

  .faq input[id="2question"] ~ .faq__title-question {
    width: 142px;

    &::after {
      right: -98px;
    }
  }

  .faq input[id="3question"] ~ .faq__title-question {
    width: 159px;

    &::after {
      right: -80px;
    }
  }

  .faq input[id="4question"] ~ .faq__title-question {
    width: 200px;

    &::after {
      right: -40px;
    }
  }

  .faq input[id="1question"]:checked ~ .faq__question,
  .faq input[id="2question"]:checked ~ .faq__question,
  .faq input[id="3question"]:checked ~ .faq__question,
  .faq input[id="4question"]:checked ~ .faq__question {
    max-width: 204px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
  }
}
