.filters {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  padding-left: 10px;
  box-sizing: border-box;
}

.filters__block {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 23px;
  padding-bottom: 23px;
  border: 1px solid #a87b62;
  border-bottom: none;
  min-width: 250px;
  box-sizing: border-box;

  &:focus-within {
    outline: 1px solid #000000;
  }
}

.filters__block--price {
  border-bottom: 1px solid #a87b62;
  margin-bottom: 35px;
  padding-bottom: 16px;
}

.filters__title {
  display: block;
  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/acc.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 10px;
    right: 0;
    top: 5px;
  }
}

.nojs ~ .filters__title::after {
  display: none;
}

.filters input[type="checkbox"]:checked ~ .filters__title::after {
  transform: rotate(180deg);
}

.filters__checkbox-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 6px;

  &:focus-within {
    outline: 1px solid #000000;
  }
}

.filters__checkbox-label {
  font-size: 14px;
  line-height: 18px;
  color: #1d1613;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    opacity: 0.7;
  }
}

.filters__checkbox-indicator {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 5px;
  left: 0;

  border: 1px solid #a87b62;
  box-sizing: border-box;
}

.filters__checkbox-item input[type="checkbox"]:checked + .filters__checkbox-indicator {
  background-color: #a87b62;
}

.filters__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 9px;
}

.filters__list--product {
  margin-bottom: -6px;
}

.filters__list,
.filters__range,
.filters__price-controls {
  display: none;
  margin-top: 20px;
}

.nojs ~ .filters__list,
.nojs ~ .filters__range,
.nojs ~ .filters__price-controls {
  display: block;
}

.filters input[id="Product"]:checked ~ .filters__list,
.filters input[id="Material"]:checked ~ .filters__list,
.filters input[id="Collection"]:checked ~ .filters__list,
.filters input[id="Price"]:checked ~ .filters__range {
  display: block;
}

.filters input[id="Price"]:checked ~ .filters__price-controls {
  display: flex;
  margin-top: 0;
}

.filters__submit,
.filters__reset {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #a87b62;
  box-sizing: border-box;
  background-color: transparent;

  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
}

.filters__submit {
  color: #ffffff;
  background: #a87b62;
  margin-bottom: 24px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.5;
  }
}

.filters__reset {
  &:hover {
    color: #ffffff;
    background: #a87b62;
  }

  &:focus {
    opacity: 0.5;
  }
}

.filters__range {
  position: relative;

  margin-bottom: 10px;
  margin-top: 25px;
}

.filters__scale {
  position: relative;
  height: 1px;

  background: #f0eae4;

  &::after {
    content: "";

    height: 1px;
    width: 45%;
    background: #a87b62;

    position: absolute;
    left: 60px;
  }
}

.filters__range-toggle {
  position: absolute;
  top: -7px;

  width: 15px;
  height: 15px;

  background: #a87b62;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background: #9b9997;
  }
}

.filters__range-toggle-min {
  left: 45px;
}

.filters__range-toggle-max {
  right: 35px;
}


.filters__min-price,
.filters__max-price {
  font-weight: 500;
  font-size: 14px;
}

.filters__min-price {
  padding-left: 37px;
}

.filters__max-price {
  padding-left: 60px;
}

.filters__min-price input,
.filters__max-price input {
  width: 25px;
  border: none;

  font-weight: 500;
  font-size: 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1023px) {
  .filters {
    display: none;

    background-color: #ffffff;
    box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    box-sizing: border-box;

    width: 442px;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 40px;

    z-index: 2;
  }

  .filters--nojs {
    display: block;
  }

  .filters--opened {
    display: flex;
    position: absolute;
    top: -305px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .filters__block {
    border-left: none;
    border-right: none;
    padding: 40px;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .filters__block--price {
    margin-bottom: 40px;
  }

  .filters__block:first-child {
    border-top: none;
  }

  .filters__title {
    font-size: 18px;
    line-height: 23px;

    &::after {
      background-image: url("../img/acc-tab.svg");
      background-repeat: no-repeat;
      width: 23px;
      height: 13px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .filters__list--product {
    margin-top: 22px;
    margin-bottom: -12px;
  }

  .filters__checkbox-item {
    padding-left: 31px;
    margin-bottom: 14px;
  }

  .filters__checkbox-label {
    font-size: 16px;
    line-height: 21px;
  }

  .filters__checkbox-indicator {
    width: 18px;
    height: 18px;
  }

  .filters__scale {
    width: 304px;

    &::after {
      width: 52.9%;
    }
  }

  .filters__range-toggle {
    width: 18px;
    height: 18px;
    top: -8px;
  }

  .filters__range-toggle-max {
    right: 113px;
  }

  .filters__range {
    margin-top: 33px;
    margin-bottom: 14px;
    margin-left: 10px;
  }

  .filters__max-price input,
  .filters__min-price input {
    font-size: 16px;
    line-height: 21px;
  }

  .filters__min-price {
    padding-left: 46px;
    font-size: 16px;
    line-height: 21px;
  }

  .filters__max-price {
    padding-left: 131px;
    font-size: 16px;
    line-height: 21px;
  }

  .filters__submit,
  .filters__reset {
    min-width: 362px;
    margin-right: 40px;
    margin-left: 40px;
    padding-bottom: 22px;

    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .filters {
    width: 270px;
    padding-left: 0;
    padding-bottom: 30px;
  }

  .filters__block {
    padding-top: 23px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .filters__block--price {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 24px;
    margin-bottom: 30px;
  }

  .filters__checkbox-indicator {
    top: 3px;
  }

  .filters__submit,
  .filters__reset {
    margin-right: 20px;
    margin-left: 20px;
    min-width: 230px;
  }

  .filters__submit {
    margin-bottom: 20px;
  }

  .filters__range {
    margin-left: 0;
  }

  .filters__scale {
    width: 250px;

    &::after {
      width: 120px;
      left: 57px;
    }
  }

  .filters__range-toggle-min {
    left: 40px;
  }

  .filters__range-toggle-max {
    right: 55px;
  }

  .filters__min-price {
    padding-left: 31px;
  }

  .filters__max-price {
    padding-left: 93px;
  }

  label[for="Price"] {
    padding-left: 10px;

    &::after {
      right: 9px;
    }
  }
}
