.intro {
  background-image: url("../img/intro-main.jpg");
  background-color: #5d4030;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 463px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro--catalog {
  background-image: url("../img/intro-catalog@1x.jpg");
  min-height: 261px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro {
    background-image: url("../img/intro-main@2x.jpg");
  }

  .intro--catalog {
    background-image: url("../img/intro-catalog@2x.jpg");
  }
}

.intro__title {
  margin: 0;
  margin-top: 15px;

  font-family: "Cormorant Garamond", serif;
  font-size: 45px;
  line-height: 45px;

  color: #ffffff;
  letter-spacing: 0.03em;
}

.intro__title--catalog {
  margin-top: 6px;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: normal;
}

.intro__text {
  margin: 0;
  margin-bottom: 10px;

  font-family: Cormorant Garamond;
  font-style: italic;
  font-size: 38px;
  line-height: 49px;
  color: #ffffff;
}

.intro__text--catalog {
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: 1023px) {
  .intro {
    background-image: url("../img/intro-tablet.jpg");
  }

  .intro--catalog {
    background-image: url("../img/intro-catalog-tab@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/intro-tablet@2x.jpg");
    }

    .intro--catalog {
      background-image: url("../img/intro-catalog-tab@2x.jpg");
    }
  }

  .intro__title {
    margin-left: -15px;
  }

  .intro__title--catalog {
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  .intro__text {
    margin-left: -16px;
  }

  .intro__text--catalog {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .intro {
    background-image: url("../img/intro-mob.jpg");
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro--catalog {
    background-image: url("../img/intro-catalog-mob@1x.jpg");
    padding-left: 36px;
    padding-right: 36px;
  }

  .intro__title {
    font-size: 38px;
    line-height: 38px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .intro__title--catalog {
    font-size: 34px;
    line-height: 34px;
    padding: 0;
  }

  .intro__text {
    font-size: 34px;
    line-height: 44px;
    margin: 0 auto;
  }

  .intro__text--catalog {
    font-size: 22px;
    line-height: 26px;
    margin-top: 9px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/intro-mob@2x.jpg");
    }

    .intro--catalog {
      background-image: url("../img/intro-catalog-mob@2x.jpg");
    }
  }
}
