.main-catalog {
  max-width: 1190px;
  padding-top: 80px;
  padding-bottom: 27px;

  margin: 0 auto;
  box-sizing: border-box;
  display: flex;

  background-color: #ffffff;
}

.main-catalog__toggle {
  display: none;
}

@media (max-width: 1023px) {
  .main-catalog {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: column;
    position: relative;
  }

  .filters--opened ~ .main-catalog__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff;

    z-index: 1;
    cursor: pointer;
  }

  .main-catalog__toggle {
    display: block;
    max-width: 678px;
    background: #a87b62;
    border: 1px solid #a87b62;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 21px;
    color: #ffffff;

    padding-top: 23px;
    padding-bottom: 22px;
  }

  .main-catalog__toggle--opened {
    z-index: 3;

    position: absolute;
    right: 150px;
    top: -320px;

    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    padding: 0;

    background-color: #1d1613;
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: center;

    & span {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .main-catalog {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 39px;
    max-width: 320px;
  }

  .main-catalog__toggle--opened {
    right: 10px;
    top: -320px;
  }
}
