.main-catalog {
  max-width: 1190px;
  padding-top: 80px;
  padding-bottom: 80px;

  margin: 0 auto;
  box-sizing: border-box;
  display: flex;

  background-color: #ffffff;
}

.main-catalog__toggle {
  display: none;
}

@media (max-width: 1023px) {
  .main-catalog {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
    flex-direction: column;
  }

  .main-catalog__toggle {
    display: block;
    max-width: 678px;
    background: #a87b62;
    border: 1px solid #a87b62;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    line-height: 21px;
    color: #ffffff;
    padding: 25px;
  }

  .main-catalog__toggle--none {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-catalog {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
  }
}
