.page-footer {
  background-color: #000000;
  color: #ffffff;
}

.page-footer__container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 90px 98px;
  padding-bottom: 80px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
}

.page-footer__mailing {
  width: 42.9%;
  margin-bottom: 30px;
  margin-right: 7.54%;
}

.page-footer__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 34px;
  line-height: 44px;
  margin: 0;
  margin-bottom: 8px;
  letter-spacing: 0.03em;
}

.page-footer__text {
  color: #9b9997;
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__form {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;

  display: flex;


  & input {
    flex-grow: 1;
    background-color: transparent;
    border: none;

    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #9b9997;
    outline: none;
  }
}

.page-footer__form input:hover,
.page-footer__form input:focus {
  outline: 1px solid #9b9997;
}

.page-footer__form input::placeholder {
  color: #9b9997;
}

.page-footer__btn {
  background-color: transparent;
  border: none;
  min-width: 103px;

  padding-right: 44px;
  box-sizing: border-box;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 9px;
    top: 7px;
    right: 0;
    background-image: url("../img/arrow.svg");
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.3;
  }
}

.page-footer__list {
  list-style: none;
  padding: 0;
  padding-top: 5px;
  margin: 0;
}

.page-footer__list--first {
  width: 176px;
  margin-right: 5.71%;
}

.page-footer__list--second {
  margin-right: 8.7%;
}

.page-footer__list--third {
  min-width: 115px;
}

.page-footer__item {
  margin-bottom: 18px;

  & a {
    text-decoration: none;
    font-weight: 500;
    line-height: 21px;
    color: #ffffff;
  }

  & a:hover {
    color: #a87b62;
  }
}

.page-footer__item svg {
  fill: #ffffff;
  margin-right: 10px;
  margin-left: 5px;
}

.page-footer__item a:hover svg {
  fill: #a87b62;
}

.page-footer__item--fb svg {
  margin-right: 18px;
}

@media (max-width: 1023px) {
  .page-footer__container {
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 152px;
    justify-content: space-between;
  }

  .page-footer__mailing {
    width: 98%;
    margin-bottom: 41px;
    margin-right: 0;
  }

  .page-footer__btn {
    padding-right: 42px;
  }

  .page-footer__list--first {
    margin-right: 0;
  }

  .page-footer__list--second {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .page-footer__container {
    max-width: 320px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    flex-direction: column;
  }

  .page-footer__mailing {
    margin-bottom: 40px;
    width: 100%;
  }

  .page-footer__title {
    margin-bottom: 11px;
  }

  .page-footer__text {
    margin-bottom: 33px;
  }

  .page-footer__btn::after {
    top: 10px;
  }

  .page-footer__text,
  .page-footer__title {
    max-width: 226px;
  }

  .page-footer__form {
    height: 30px;
  }

  .page-footer__list {
    margin-bottom: 30px;
  }

  .page-footer__list--first {
    margin-bottom: 15px;
  }

  .page-footer__list--second {
    margin-bottom: 25px;
  }

  .page-footer__list--third {
    display: flex;
    padding: 0;

    & .page-footer__item {
      margin-bottom: 0;
      margin-right: 30px;
    }

    & span {
      display: none;
    }

    & svg {
      margin: 0;
    }
  }

  .page-footer__item--fb svg {
    width: 12px;
    height: 21px;
  }

  .page-footer__item--inst svg,
  .page-footer__item--pin svg {
    width: 20px;
    height: 21px;
  }

  .page-footer__item--tw svg {
    width: 20px;
    height: 18px;
    padding-top: 3px;
  }
}
