.slider {
  max-width: 1366px;
  box-sizing: border-box;

  margin: 0 auto;
  padding-left: 83px;
  padding-right: 83px;
  padding-top: 120px;
  padding-bottom: 113px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.slider__title {
  text-align: center;
  line-height: 44px;
  font-size: 34px;
  margin: 0;
  margin-bottom: 24px;

  font-family: "Cormorant Garamond", serif;
}

.slider__link {
  align-self: center;
  font-weight: 500;
  line-height: 21px;
  color: #1d1613;
  text-decoration: none;

  margin-bottom: 58px;

  border-bottom: 1px solid #a87b62;

  &:hover {
    color: #9b9997;
  }

  &:focus {
    opacity: 0.7;
  }
}

.slider__multiple-items {
  padding: 0;
  margin: 0;
}

.slider__img-link {
  margin-left: 15px;
  margin-right: 15px;
}

.slider__item a {
  display: block;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -100px;
  display: block;
  width: 29px;
  height: 9px;
  padding: 0;

  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/arrow-slider.svg");
    width: 29px;
    height: 9px;
    top: 0;
  }
}

.slick-next:hover::before,
.slick-prev:hover::before {
  opacity: 0.7;
}

.slick-next:focus::before,
.slick-prev:focus::before {
  opacity: 0.5;
}

.slick-next {
  right: 15px;

  &::before {
    left: 0;
  }
}

.slick-prev {
  left: 15px;

  &::before {
    transform: rotate(-180deg);
    left: 0;
  }
}

.slider__title-link {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #1d1613;
  margin-top: 23px;
}

.slider__title-link h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 5px;

  &:hover {
    color: #9b9997;
  }

  &:focus {
    opacity: 0.7;
  }
}

.slick-slide {
  margin: 0;
}

.slider__item p {
  text-align: center;
  margin: 0;
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  color: #1d1613;
}

.slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;

  padding: 0;
  margin-top: 48px;
  margin-left: -13px;

  & button {
    background-color: transparent;
    border: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #9b9997;
    outline: none;

    padding: 0;
    margin-left: 13px;
  }
}

.slick-active button {
  color: #1d1613;
}

@media (max-width: 1023px) {
  .slider {
    max-width: 768px;

    padding-left: 45px;
    padding-right: 45px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .slick-next,
  .slick-prev {
    width: 36px;
    height: 15px;

    &::before {
      width: 36px;
      height: 15px;
      background-image: url("../img/arrow-tab.svg");
    }
  }

  .slick-dots {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .slider {
    max-width: 320px;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .slick-next,
  .slick-prev {
    width: 0;
    height: 0;

    &::before {
      display: none;
    }
  }

  .slick-dots {
    margin-top: 20px;
    position: relative;
    justify-content: flex-start;

    &::after {
      content: " of 6";
      position: absolute;
      right: 120px;
    }
  }

  .slick-dots li {
    display: none;
    margin-left: 115px;
  }

  .slick-dots .slick-active {
    display: block;
  }
}
